@import url(https://fonts.googleapis.com/css?family=Lato:400,300,100);

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Lato';
}

html {
  background-color: white;
}

.nav {
  background-color: white;
  padding: 10px 10px 0px 10px;
  font-weight: bold;
  line-height: 25px;
}

.fixed-top {
  position: sticky;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
}

.home {
  text-decoration: none;
  color: hsl(212, 94%, 36%);
  font-size: 20px;
  padding: 0px 10px;
}

.projects {
  text-decoration: none;
  color: hsl(212, 94%, 36%);
  font-size: 20px;
  padding: 0px 10px;
}

.resume {
  text-decoration: none;
  color: hsl(212, 94%, 36%);
  font-size: 20px;
  padding: 0px 10px;
}

.contact {
  text-decoration: none;
  color: hsl(212, 94%, 36%);
  font-size: 20px;
}

.line-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: hsl(212, 94%, 36%);
  text-align: center;
  height: 1.6em;
  position:-webkit-sticky; position:sticky; top:0;
}

.line-text::before {
  content: '';
  background: hsl(212, 94%, 36%);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1.5px;
}

.line-text::after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: black;
  padding: 0 .5em;
  line-height: 1.5em;
  color: hsl(212, 94%, 36%);
  background-color: white;
  right: 40%;
}

.main {
  bottom: 14em;
  position: relative;
}

.main-text {
  z-index: 3;
  position: absolute;
  top: 15em;
  width: 100%;
}



.parallax-one {
  background-image: url("./img/cat.jpg");
  min-height: 1100px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}

#main-header {
  z-index: 4;
  font-size: 400%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  right: 62%;
  top: -40px;
  color: hsl(212, 94%, 36%);
}

#main-text {
  font-size: 275%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  left: 0%;
  top: 40px;
  color: #184b53;
}

#main-text-two {
  font-size: 225%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  right: 0%;
  top: 125px;
  color: #184b53;
}

#main-text-three {
  font-size: 225%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  left: 0%;
  top: 250px;
  color: #184b53;
}

#main-text-four {
  font-size: 225%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  right: 0%;
  top: 375px;
  color: #184b53;
}

#main-text-last {
  font-size: 225%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  left: 0%;
  top: 500px;
  color: #184b53;
}

#main-subtext {
  font-size: 275%;
  font-weight: bold;
  position: absolute;
  padding: 20px 20px;
  left: 36%;
  top: 600px;
  color: #184b53;
}


.centered {
  z-index: 1;
  position: absolute;
  bottom: -40%;
  text-align: center;
    background: linear-gradient(#184b53, white);
}

/***************************************************************/

.construction {
  
  margin-left: 3%;
  font-weight: bold;
  font-size: 10px;
}


#linkedin {
  font-size: 46px;
}


table #t1 {
  width:100%;
}

.edu_header {
  /*font-size: 24px; */
}
.edu_body {
  text-align: left;
}


.links:hover {
  color: white;
  text-decoration: none;
}
.links {
  color: white;
}


.AccordionParent {
  padding-top: 0px;
}

.card-header {
  font-weight: bold;
  text-align: center;
  cursor: pointer;
}

.cards {
  /* padding-left: 0px; */
  margin-left: -8px;
  position: sticky;
}

.card-text {
  font-size: 50px;
  text-align: center;
  color: white;
  padding-top: 37px;
  font-family: Georgia, serif;
}

.myCard4 .card {
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: blue;
  opacity: 0.85;
  top: -209px;
  left: 512px;
  cursor: pointer;
}

.myCard3 .card {
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: yellow;
  opacity: 0.85;
  top: 48px;
  left: 193px;
  cursor: pointer;
}

.myCard2 .card {
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: yellow;
  opacity: 0.85;
  top: 0px;
  left: 512px;
  cursor: pointer;
}

.myCard1 .card {
  padding: 10px 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  height: 300px;
  position: relative;
  background-color: blue;
  opacity: 0.85;
  top: 256px;
  left: 193px;
  cursor: pointer;
}

.card:hover {
    box-shadow: 0 10px 18px 0 rgba(0,0,0,0.6);
}

.container {
    padding: 25px 16px;
}

.bottomLeftIcon:hover {
  color: blue;
}

.topSection {
  /*position: sticky;*/
}
/*
#aware {
  z-index: 4;
  font-size: 100%;
  font-weight: bold;
  
  padding: 1px 1px;
  position: sticky;
  right: 53%;
  top: 5%;

  color: hsl(212, 94%, 36%);
} */
#thisDate {
  z-index: 4;
  font-size: 155%;
  font-weight: bold;
  margin-left: 5%;
  /*padding: 1px 1px;
  position: sticky;
  right: 50%;
  top: 10%;*/

  color: hsl(212, 94%, 36%);
}

#custom-header4 {
  z-index: 4;
  font-size: 168%;
  font-weight: italic;
  position: absolute;
  padding: 20px 20px;
  right: 12%;
  top: -8px;
  color: hsl(212, 94%, 36%);
}

#custom-header3 {
  z-index: 4;
  font-size: 168%;
  font-weight: italic;
  position: absolute;
  padding: 20px 20px;
  right: 34%;
  top: -8px;
  color: hsl(212, 94%, 36%);
}

#custom-header2 {
  z-index: 4;
  font-size: 168%;
  font-weight: italic;
  position: absolute;
  padding: 20px 20px;
  right: 54%;
  top: -8px;
  color: hsl(212, 94%, 36%);
}

#custom-header {
  z-index: 4;
  font-size: 200%;
  font-weight: bold;
  position: relative;
  padding: 20px 20px;
  right: 0%;
  top: 16px;
  color: hsl(212, 94%, 36%);
}


/* Footer */
#footer {
  background: white;
  width: 100%;
  position: relative;
  margin: 0 -0.01rem;
  padding: .25rem 0.01rem;
}

.footerContent {
  display: inline-block;
  vertical-align: middle;
  color: #184b53;
  text-align: center;
  width: 100%;
}

#icon-github {
  color: #184b53;
}

#icon-github:hover {
  color: black;
}

#icon-linkedin {
  color: #184b53;
}

#icon-linkedin:hover {
  color: #0077B5;
}
#icon-facebook {
  color: #184b53;
}

#icon-facebook:hover {
  color: #3b5998;
}

#icon-instagram {
  color: #184b53;
}

#icon-instagram:hover {
  color: purple;
}
